extends ../layouts/base
include ../components/Icon
include ../components/Header
include ../components/Footer
include ../components/Connection

block body
  .page
    .page__header
      +header()

    .page__content
      block content

    .page__footer

block dev-scripts