.action-bar
  &__list
    display: flex
    align-items: center
    justify-content: flex-end
    gap: 6px
    +above($breakpoints.md)
      justify-content: flex-start
    +above($breakpoints.xxl)
      gap: 16px
