.builder
  background: $color-grey
  color: $color-blue
  transition: 0.3s
  border: none
  cursor pointer
  display: flex
  align-items: center
  justify-content: center
  font-family: "Maza-Regular"
  gap: 2px
  padding: 0 2px
  border-radius: 8px;
  font-size: 16px
  width 100%
  height: 48px
  +above($breakpoints.sm)
    border-radius: 4px;
    font-size: 10px
    height: 22px
    width 110px
  +above($breakpoints.md)
    width 132px
    height: 38px
    border-radius: 6px;
    font-size: 11px
  +above($breakpoints.xxl)
    font-size: 16px
    gap: 4px
    width 176px
    height: 42px
    border-radius: 8px;
  &:hover
    background: $color-grey-2
  svg
    width 24px
    height: 24px
    +above($breakpoints.sm)
      width 12px
      height: 12px
    +above($breakpoints.md)
      width 14px
      height: 14px
    +above($breakpoints.xxl)
      width 16px
      height: 16px
