.info
  &__list
    display: flex
    justify-content: space-between
    align-items: center

  &__description
    display: flex
    align-items: center
    gap: 10px
    +above($breakpoints.xxl)
      gap: 12px
