.nav-item
  &__link
    display: flex
    align-items: center
    background: $color-grey
    transition: 0.3s
    gap: 2px
    padding: 6px 8px 6px 4px
    border-radius: 4px
    transition: 0.3s
    +above($breakpoints.md)
      gap: 4px
      padding: 8px 12px 8px 7px
      border-radius: 6px
    +above($breakpoints.xxl)
      gap: 10px
      padding: 11px 18px 11px 14px
      border-radius: 8px
    &:hover
      color: $color-blue
      svg
        path
          fill-opacity: 1
    svg
      width 12px
      height: 12px
      +above($breakpoints.md)
        width 16px
        height: 16px
      +above($breakpoints.xxl)
        width 20px
        height: 20px
      path
        transition: 0.3s
